/* VARIABLEN CSS */
:root {
  --yellow: #f4e500;
  --cream-white: #f0ebf0;
  --cream-red: #db504c;
  --dark-grey: #2f3135;
  --nav-accent-color: #50545b;
  --nav-text-grey: #8e9296;
}

/* BASIS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Open sans;
}

/* ALGEMENE STYLING */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  background: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* LAYOUT */
.flex {
  display: flex;
}

.grid {
  display: grid;
}
.row{
  width: 100%;
  max-width: 1000px;
  padding: 2em;
}

.prismic__row{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: .5em;
}
.prismic__row *{
  margin-bottom: 1em;
}

.container{
  padding: 56px 0;
}


/* ALGEMEN PAGE STYLING */
.header{
  width: 100%;
  height: 80px;
  background-color: var(--yellow);
}

main{
  max-width: 1000px;
}
/* HOMEPAGE */

/* TEMPLATE PAGE */


main span{
    font-size: 1.3rem;
    border: 2px solid black;
    background-color: var(--yellow);
    padding: .25rem;
    margin-bottom: -2px;
}

main h2{
    padding: .25rem;
    margin-bottom: 1rem;
    margin-top: 4px;
    font-size: 1.3rem;
    border: 2px solid black;
}

/* BREAKPOINTS */
/* For small devices */
@media screen and (max-width: 320px) {
}

/* For medium devices */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 767px) {
}

/* For large devices */
@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}

/* overbodig? */
/* 
@media only screen and (max-width: 600px) {
  main {
    /* margin-left: 400px; */
    /* max-width: 800px; */
    /* width: 100%; */
  /* } */
/* } */
